body{
    margin: 0;
    overflow: hidden;
}

/* Core GUI */
.Canvas{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;

    width: 100%;
    height: 100%;

    background-image: url(img/Other/SkissyBackgroundDots.png);
    background-size: 2.5%;
    background-position-y:2.5% ;
}

.SideBar{
    position: absolute;
    transform: translate(50%, -50%);
    top: 52vh;
    left: -10vh;

    height: 97vh;
    width: 20vh;
    background-color: #262626;
}

.TopBar{
    position: absolute;
    transform: translate(50%, -50%);
    top: 3.5vh;
    left: -50%;

    height: 7vh;
    width: 100%;
    background-color: #373737;
}

.IconDefaults{
    position: inherit;
    transform: translate(-50%, -50%);
    z-index: -1;

    width: 55%;
    height: 0;
    padding-top: 55%;
    left: 50%;
    
    border-radius: 17.5%;
    background-color: #1F1F1F;

    transition: border 0.05s;
}

.ToolSelected{
    border: 0.4vmax solid #474747;
}

/* Tools */
.ToolClickBox{
    background-color: transparent;
    z-index: 2;
}

.BrushTool{
    top: 15%;
}

.FillTool{
    top: 30%;
}

.LineTool{
    top: 45%;
}

.EraserTool{
    top: 60%;
}

/* Icons for Tools */
.ToolIconDefaults{
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 1;
    transition: filter 0.05s;
}

/* Brush Tool Icon */
.BrushTool_brush{
    top: 17%;
    left: 42.2%;
    width: 15%;
}

.BrushTool_handle{
    top: 14.2%;
    left: 55.8%;
    width: 20%;
}

/* Bucket Tool Icon */
.FillTool_drop{
    top: 30.5%;
    left: 67%;
    width: 11%;
}

.FillTool_bucket{
    top: 30%;
    left: 47.5%;
    width: 29%;
}

/* Line Tool Icon */
.LineTool_line{
    top: 45%;
    left: 50%;
    width: 32.5%;
}

.LineTool_anchors{
    top: 45%;
    left: 50%;
    width: 32.5%;
}

/* Eraser Tool Icon */
.EraserTool_line{
    z-index: 3;
    top: 62.5%;
    left: 59.75%;
    width: 16%;
}

.EraserTool_eraser{
    top: 60%;
    left: 50%;
    width: 32.5%;
}

/* Stroke Size Selector */
.StrokeSizeContainer{
    width: 85%;
    height: 6.5%;
    padding-top: 0%;
    top: 74%;

    border-radius: 0.9vmax;
}

.StrokeDefaults{
    width: 27%;
    padding-top: 27%;
    top: 50%;
    border-radius: 0.7vmax;
    background-color: #1A1A1A;
    background-position: center;
    background-size: 56.25%;
    background-repeat: no-repeat;
    transition: border 0.05s;
}

.StrokeSelected{
    border: 0.15vmax solid white;
}

.Stroke1{
    left: calc((100% / 6) + 3.5%);
    background-image: url(img/StrokeSizes/Small.png);
}

.Stroke2{
    left: 50%;
    background-image: url(img/StrokeSizes/Medium.png);
}

.Stroke3{
    left: calc((100% - (100% / 6)) - 3.5%);
    background-image: url(img/StrokeSizes/Large.png);
}

/* Color Selector */
.ColorContainer{
    width: 87.5%;
    height: 7.5%;
    padding-top: 0%;
    top: 82%;

    border-radius: 0.7vmax;
}

.ColorDefaults{
    width: 26%;
    padding-top: 26%;
    top: 50%;
    border-radius: 0.65vmax;
    transition: border 0.05s;
}

.ColorSelected{
    border: 0.25vmax solid white;
}

.Color1{
    left: calc((100% / 6) + 3.5%);
    background-color: #E35E4C;
}

.Color2{
    left: 50%;
    background-color: #62D33A;
}

.Color3{
    left: calc((100% - (100% / 6)) - 3.5%);
    background-color: #4C9AE3;
}

/* Color Filters */
.RedFilter{
    filter: invert(52%) sepia(37.5%) saturate(2500%) hue-rotate(327deg) brightness(100%) contrast(85%);
}
.GreenFilter{
    filter: invert(25%) sepia(57%) saturate(600%) hue-rotate(54deg) brightness(95%) contrast(80%);
}
.BlueFilter{
    filter: invert(42%) sepia(71%) saturate(2345%) hue-rotate(184deg) brightness(92%) contrast(85%);
}